.card {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    border-radius: 12px;
    padding: 8px 8px 0 8px;
    backdrop-filter: blur(80px);
    background: rgba(32, 40, 62, 0.8);
    cursor: pointer;
}

.card:hover {
    background: rgba(61, 75, 114, 0.8);
}

.rating {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    border-radius: 8px;
    padding: 4px 8px;
    width: fit-content;
    height: 32px;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.65);
}
.count {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--rating-text);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.poster {
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
    justify-content: flex-start;
}

.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--card-title);
    margin: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.tofavorites {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--card-to-favorites);
}

.infavorites {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--card-in-favorites);
}
