.card {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    border-radius: 12px;
    padding: 8px 8px 0 8px;
    backdrop-filter: blur(80px);
    background: rgba(32, 40, 62, 0.8);
    cursor: pointer;
    height: 100%;
    max-width: 282px;
}

.card:hover {
    background: rgba(61, 75, 114, 0.8);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    flex-grow: 1;
}

.poster {
    border-radius: 8px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.no-poster {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 266px;
    height: 400px;
    object-fit: cover;
    background: rgb(0, 0, 0);
    color: var(--card-title);
    font-size: 60px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 8px 24px 8px;
}

.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--card-title);
    margin: 0;
}
