.app {
    display: flex;
    padding: 0 120px 58px;
    flex-direction: column;
}

.search-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 24px;
    margin-bottom: 80px;
}
