.search-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 24px;
    margin-bottom: 80px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-top: 27px;
}
.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}

.icon {
    position: absolute;
    left: 16px;
}

.input {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: var(--main-color-text);
    border: 1px solid #323b54;
    border-radius: 12px;
    padding: 24px 16px 24px 56px;
    background: rgba(0, 0, 0, 0.1);
    outline: none;
    min-width: 384px;
}

.hidden {
    padding: 24px 16px;
    min-width: 384px;
}

.input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #475069;
}

.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    border: 2px solid #7b6ef6;
    border-radius: 12px;
    padding: 16px 32px;
    background: #7b6ef6;
    cursor: pointer;
    width: fit-content;
}

.btn-search:hover {
    background: #3d3299;
}
