.rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    border-radius: 8px;
    padding: 4px 8px;
    width: fit-content;
    height: 32px;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.65);
}
.count {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--rating-text);
}

.isAbsolute {
    position: absolute;
    top: 16px;
    left: 16px;
}
