.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    margin-bottom: 80px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.item {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.counter {
    border-radius: 12px;
    background-color: #7b6ef6;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.02em;
    color: var(--color-white);
    min-width: 1.7em;
    height: 1.7em;
    text-align: center;
    padding: 0 7px;
}

.active {
    color: var(--color-active);
}
.link:hover {
    color: #e6edff;
}
